## Question 1

The keyword "def" is used to create a function. For example :-

In [1]:
def odd_list(input):
  odd_num_list = []
  for num in range(input):
    if num % 2 != 0:
      odd_num_list.append(num)
  return odd_num_list

In [2]:
odd_list(26)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

## Question 2

the "*args" and "*kargs" are used when we are not sure about the number of arguement to be passed in the function.

In [6]:
def get_sum(*num):
  sum = 0
  for i in num:
    sum = sum + i

  print("sum :",sum)

In [7]:
get_sum(1,2,3,4,5)

sum : 15

## Question 3

An iterator is an object that contains a countable number of values. An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.The method that used for iteration are __iter__ and __next__.

In [8]:
list_1 = [i for i in range(21) if i%2 == 0]

In [11]:
list_1 = iter(list_1)tha

In [12]:
for i in range(5):
  print(next(list_1))

0
2
4
6
8

## Question 4

The generator is the function that return a iterator that produce a sequence of values when iterated over.Generator function when we want large sequence of values.The yield keyword convert the expression that specified along with it to a generator object and return it to the caller.

In [27]:
def odd_number(num):
  count = 0
  number = 0
  while count < num:
      if number%2 != 0:
        count += 1
        yield(number)
        number += 1
      else :
        number += 1

In [28]:
list(odd_number(5))

[1, 3, 5, 7, 9]

## Question 5

In [29]:
def check_prime(number):
  if number == 2 :
    return True
  
  for rem in range(2,(number//2 + 1)):
    if number % rem == 0 :
      return False 
  else:
    return True

In [30]:
def prime_number(num):
  count = 0
  number = 2
  while count < num:
    if check_prime(number):
      yield(number)
      count += 1
      number += 1
    else :
      number += 1

In [36]:
prime_list = list(prime_number(11))
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [37]:
prime_list = iter(prime_list)
for i in range(5):
  print(next(prime_list))

2
3
5
7
11

## Question 6

In [4]:
def fibonacci_num(num):
  count = 0
  a = 0
  b = 1
  while count < num:
     yield a
     a ,b = b,a+b
     count +=1

In [6]:
list(fibonacci_num(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Question 7

In [8]:
string = "pwskills"
str_list = [i for i in string]
print(str_list)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

## Question 8

In [9]:
def check_palindrome(num):
  if str(num) == str(num)[::-1]:
    print("Yes, the given is palimdrome")
  else :
    print("The number is not palimdrome. pls try again")

In [10]:
check_palindrome(575)

Yes, the given is palimdrome

## Question 9

In [12]:
number_list = [num for num in range(101)]
print(number_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [13]:
odd_num_list = [num for num in number_list if num %2 != 0]

In [14]:
print(odd_num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]