## Question 1

A database is an organized collection of data that can be accessed and managed electronically. SQL (Structured Query Language) databases are table-based and contain structured data that can be analyzed using a relational model. On the other hand, NoSQL databases are non-relational and contain unstructured data that cannot be analyzed through predefined models.

SQL databases are best used for structured data, while NoSQL databases are suitable for structured, semi-structured, and unstructured data. SQL databases are suited for multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. NoSQL databases are better for unstructured data like documents or JSON.

## Question 2

Data Definition Language (DDL) is a subset of SQL and a part of DBMS (Database Management System). DDL consists of commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL

* CREATE command is used to create a table in SQL.
* DROP command is used to delete an entire table or database.
* ALTER command is used to modify the structure of an existing table.
* TRUNCATE command is used to remove all records from a table without deleting the table itself.

## Question 3

Data Manipulation Language (DML) commands in SQL manage data records stored within the database tables. It does not deal with changes to database objects and their structure. The commonly known DML commands are INSERT, UPDATE, and DELETE.
* INSERT command is used to add new rows of data to a table. For example, the following command adds a new row to the “students” table:

INSERT INTO students (id, name, age) VALUES (1, 'John', 20);

* UPDATE command is used to modify existing data in a table. For example, the following command updates the age of the student with id 1:

UPDATE students SET age = 21 WHERE id = 1;
* DELETE command is used to delete rows from a table. For example, the following command deletes the row with id 1 from the “students” table:

DELETE FROM students WHERE id = 1;

## Question 3

Data Query Language (DQL) is used to fetch data from a database. The principal DQL command in SQL is the SELECT command, which retrieves data from one or more tables. The SELECT command helps you to select the attribute based on the condition described by the WHERE clause.For example:

SELECT FirstName FROM Student WHERE RollNo > 15

##Question 4

* Primary Key :- A primary key is a column or a set of columns that uniquely identifies each row in a table. It cannot contain null values and must be unique. A table can have only one primary key.

For example, in the “students” table, the “id” column can be used as a primary key because it uniquely identifies each student.

* Foreign Key :- A foreign key is a column or a set of columns that refers to the primary key of another table. It establishes a link between two tables.

For example, if we have another table called “courses” and we want to link it to the “students” table, we can add a foreign key to the “courses” table that refers to the “id” column in the “students” table. This way, we can link each course to the student who is taking it.

## Question 5

In Python, the cursor() method is used to create a cursor object and the execute() method is used to execute a SQL query. The cursor() method is called on a connection object and returns a cursor object. The cursor object is used to execute SQL queries and fetch data from the database. The execute() method is called on the cursor object and takes an SQL query as an argument. It executes the query and returns the result set if any.

In [2]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp310-cp310-manylinux1_x86_64.whl (27.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.4/27.4 MB 42.9 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (3.20.3)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.33

In [8]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb_ = mysql.connector.Connect(host = "localhost", user = "abc", password = "password")

print(mydb_)
mycursor = mydb_.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

DatabaseError: ignored

## Question 6

The order of execution of SQL clauses in an SQL query is as follows:

* FROM clause
*JOIN clause
*ON clause
*OUTER clause
*WHERE clause
*GROUP BY clause
*HAVING clause
*SELECT clause
*DISTINCT clause
*ORDER BY clause
*TOP clause