In [5]:
import numpy as np
list_ = ['1','2','3','4','5']
array_list = np.array(object = list_)

## Question 1

Yes, there is a difference in the data type of variable list_ and array_list.The list_ is the list of string whereas array_list is the numpy array of strings.

In [10]:
print(type(list_))
print(type(array_list))

<class 'list'>
<class 'numpy.ndarray'>

## Question 2

In [11]:
for i in list_:
  print(f"The Data type of {i} is {type(i)}")

for j in array_list:
  print(f"The data type of {j} is {type(j)}")

The Data type of 1 is <class 'str'>
The Data type of 2 is <class 'str'>
The Data type of 3 is <class 'str'>
The Data type of 4 is <class 'str'>
The Data type of 5 is <class 'str'>
The data type of 1 is <class 'numpy.str_'>
The data type of 2 is <class 'numpy.str_'>
The data type of 3 is <class 'numpy.str_'>
The data type of 4 is <class 'numpy.str_'>
The data type of 5 is <class 'numpy.str_'>

## Question 3

Yes, there is a change in the data type of element of numpy arraa as type we specifing the data type while creating an array.

In [15]:
array_list_1 = np.array(object = list_, dtype = int)
for i in array_list_1:
  print(f"The Data type of {i} is {type(i)}")

The Data type of 1 is <class 'numpy.int64'>
The Data type of 2 is <class 'numpy.int64'>
The Data type of 3 is <class 'numpy.int64'>
The Data type of 4 is <class 'numpy.int64'>
The Data type of 5 is <class 'numpy.int64'>

## Question 4

In [20]:
import numpy as np
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)

In [21]:
num_array.shape

(2, 3)

In [22]:
num_array.size

6

## Question 5

In [26]:
array = np.zeros((3,3))
array

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Question 6

In [29]:
identity_array = np.identity(5)
identity_array

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])