# Question 1

In [4]:
str_var = "My name is gaurav saini"
list_var = [1,2,3,"Gaurav","Star student","Pw skills",2.0,600000,True]
float_var = 2.0
tuple_var = (1,2,3,"Gaurav","Star student","Pw skills",2.0,600000,True)

In [5]:
# print the variable
print(str_var)
print(list_var)
print(float_var)
print(tuple_var)

My name is gaurav saini
[1, 2, 3, 'Gaurav', 'Star student', 'Pw skills', 2.0, 600000, True]
2.0
(1, 2, 3, 'Gaurav', 'Star student', 'Pw skills', 2.0, 600000, True)

# Question 2

In [6]:
var1 = ''
var2 = '[DL,ML,Python]'
var3 = ['DL','ML','Python']
var4 = 1.

In [7]:
type1 = type(var1)
type2 = type(var2)
type3 = type(var3)
type4 = type(var4)
print("The following variable is ",type1,",",type2,",",type3,",",type4,".")

The following variable is  <class 'str'> , <class 'str'> , <class 'list'> , <class 'float'> .

# Question 3

In [8]:
print("(i) / is used for division of 2 numbers for example :- 3/2 is ",3/2)
print("(ii) % is known as modulus operator and it use to give the reminder of division for example :- 3%2 is ",3%2)
print("(iii) // is used for floor division which gives the smallest interger value while division for example :- 5//2 is ",5//2)
print("(iv) ** is used for exponential it is basically represent the exponential power of numeric term for example :- 5**2 is ",5**2)

(i) / is used for division of 2 numbers for example :- 3/2 is  1.5
(ii) % is known as modulus operator and it use to give the reminder of division for example :- 3%2 is  1
(iii) // is used for floor division which gives the smallest interger value while division for example :- 5//2 is  2
(iv) ** is used for exponential it is basically represent the exponential power of numeric term for example :- 5**2 is  25

# Question 4

In [10]:
list_ = [1,2,3,"Gaurav","Star student","Pw skills",2.0,600000,True,2+3j]
for i in list_:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

# Question 5

In [12]:
A = int(input())
B = int(input())
count = 0 
while A%B == 0 :
    count += 1
    A = A/B
    
if count > 0:
    print("A is purelly divisible by B",count," times.")
else :
    print("A is not purely divisible by B")

 100000
 10

A is purelly divisible by B 5  times.

# Question 6

In [15]:
Integer_list = list(range(1,26))
for num in Integer_list:
    if num%3 == 0:
        print(num," is divisible by 3")
    else:
              print(num," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

# Question 7

In [16]:
print("In mutable data type, we can modify existing value of data type. We may add new value or remove the existing value from these lind of data type. for example :-")
list_ = [1,2,4,56,7,8]
print(list_)
list_[2] = 100
print(list_)

In mutable data type, we can modify existing value of data type. We may add new value or remove the existing value from these lind of data type. for example :-
[1, 2, 4, 56, 7, 8]
[1, 2, 100, 56, 7, 8]

In [17]:
print("In immutable data type, we cannot modify the existing value of the data type. ")
str1 = "apple"
str1[1] = c

In immutable data type, we cannot modify the existing value of the data type.

NameError: name 'c' is not defined